<app-navbar></app-navbar>

<div class="container-fluid">
    <div class="row ">

        <div class="col-4 offset-1 align-self-cente mt-5">
            <h1>{{HeroesDetails?.name_loc}}</h1>
            <p> {{HeroesDetails?.npe_desc_loc}}</p>
            <p class="d-flex flex-row">{{HeroesDetails?.hype_loc}} </p>
        </div>
        <div class="col-6 editImg align-self-cente">
            <!-- <video class="editImg" 
            [poster]="getImage(HeroesDetails?.name_loc|lowercase)"
            autoplay="" preload="auto" loop="" playsinline=""><source type="video/webm" 

            [src]="getVideo(HeroesDetails?.name_loc|lowercase)"
            >-->
            <img class="editImg img-fluid" [src]="getImage(HeroesDetails?.name_loc|lowercase)"
                onerror="this.src='../../assets/Images/assignmentImg.png'" alt="alternative">
          <!--  </video> -->
            <!-- <video class="editImg" 
            poster="https://cdn.cloudflare.steamstatic.com/apps/dota2/videos/dota_react/heroes/renders/alchemist.png"
             autoplay="" preload="auto" loop="" playsinline=""><source type="video/webm" 
                src="https://cdn.cloudflare.steamstatic.com/apps/dota2/videos/dota_react/heroes/renders/alchemist.webm">
                <img src="https://cdn.cloudflare.steamstatic.com/apps/dota2/videos/dota_react/heroes/renders/alchemist.png">
            </video> -->
           
        </div>
    </div>
</div>
