<nav class="navbar navbar-expand-lg ml-1">
	<a class="navbar-brand" href="#"> <img class="LogoDesign" src="../../assets/Images/logo.png"></a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
		aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<!-- <span class="navbar-toggler-icon "></span> -->
		<div class="icon"></div>
		<div class="icon"></div>
		<div class="icon"></div>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
					aria-haspopup="true" aria-expanded="false">
					GAME
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="#">STORE</a>
					<a class="dropdown-item" href="#">PATCHES</a>
					<a class="dropdown-item" href="#">GAMEPLAY UPDATES</a>
					<a class="dropdown-item" href="#">PREVIOUS UPDATES</a>
				</div>
			</li>
			<li class="nav-item active">
				<a class="nav-link active" href="#">HEROS</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">NEWS</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">ESPORTS</a>
			</li>
			<li class="nav-item dropdown">
				<div id="google_translate_element"></div>

				<script type="text/javascript">
					function googleTranslateElementInit() {
						new google.translate.TranslateElement({ pageLanguage: 'en' }, 'google_translate_element');
					}
				</script>
				<script type="text/javascript"
					src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

			</li>
		</ul>
	</div>
</nav>