<app-navbar></app-navbar>
<div class="container">
	<div class="row">
		
		<div class="col text-center heading">
			<p>{{'hero.title' |translate}} </p>
			<h3 class="p-5">{{'hero.desc'|translate}} </h3>
		</div>
	</div>
	<div class="row searchIcon mt-2 p-3">
		<div class="col-md-3 col-sm-12 text-center">{{'hero.FILTER'|translate}}</div>
		<div class="col-md-3 col-sm-12 text-center">{{'hero.ATTRIBUTE'|translate}}
			<img
				src="https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react/herogrid/filter-str-active.png">
			<img
				src="https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react/herogrid/filter-str-active.png">
			<img
				src="https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react/herogrid/filter-str-active.png">

		</div>
		<div class="col-md-3 col-sm-12 text-center">{{'hero.COMPLEXITY'|translate}}
			<img src="https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react/herogrid/filter-diamond.png">
			<img src="https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react/herogrid/filter-diamond.png">
			<img src="https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react/herogrid/filter-diamond.png">

		</div>
		<div class="col-md-3 col-sm-12 m-auto">
			<div class="input-group">
				<div class="form-outline">
					<input type="search" id="form1" [(ngModel)]="serachValue" (input)="callSerach()"
						class="form-control" placeholder="search" />
				</div>
			</div>
		</div>

	</div>
	<div class="row">
		<div class="card UserStyle m-2" *ngFor="let hero of HeroesData" >
			<!-- <div *ngIf="serachValue === '' || hero.name_loc.toLowerCase().includes(serachValue)"> -->
			<div class="card-img-caption" (click)="GoTODetails(hero.id)">

				<img class="card-img-top ImgEdit mt-1 " [src]="ImgSrc(hero.name_loc|lowercase)"
					onerror="this.src='../../assets/Images/assignmentImg.png'" alt="alternative">

				<div class="card-text" style="color:white">
					<img class="iconImg mr-2" [src]="img">
					<strong class="">{{hero.name_loc}} </strong>
				</div>
			</div>
			<!-- </div> -->

		</div>
	</div>
</div>